body {
    width: 100vw;
    height: 100%;
}

.header__container--title {
   max-width: 100%;
}

.header__container--title .header__button {
    top: 220px;
}

.main__exchangeContainer--title {
    max-width: 100%;
    margin-bottom: 0;
}

.exchangeContainer__tablesContainer {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    justify-content: center;
}

.exchangeContainer__tablesContainer--sliderTables {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.tablesContainer__sliderTables {
    margin: 0;
}

.tablesContainer__sliderTables--currencyTable, .tablesContainer__sliderTables--commissionsTable {
    width: 300px;
}

.exchangeContainer__tablesContainer--sliderBtn {
    display: none;
}

.main--batata {
    margin-top: -645px;
    margin-left: 47vw;
}

.main__productCards--container {
    display: flex;
    flex-wrap: wrap;
}

.main__productDetail {
    height: 630px;
}

.main__plansContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.main__plansContainer h2{
    margin-bottom: 20px;
}

.slider__cards--containerCard {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.slider_button {
    display: none;
}

.recomend {
    margin-left: 5px;
}

.footer__table {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer__table--links {
    padding-right: 25vw;
}

