/* 
    1. Posicionamiento --> static, absolute, relative, fixed
    2. Modelo de caja (Box model) --> margin, border, padding, content
    3. Tipografía --> tipos, tamaños de fuente, etc
    4. Estilos visuales --> box-shadow, border-radius, gradient, etc
    5. Otros --> reglas CSS y más
*/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --warm-black: #201E1C;
    --warm-balck-1: #282623;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --card-text: #808080;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-width: 320px;
    max-width: 420px;
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
}

/************ Inicio Header *******************/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 420px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px); /*para hacer un calculo*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/blackarrowdown.svg');
}

/******************* Fin header *******************/

/******************* inicio main ********************/

main {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    background-color: var(--just-white);
}

.main--exchange--container {
    width: 100%;
    height: auto;
    padding-top: 60px;
    text-align: center;
}

.main--exchange--container-title {
    width: 90%;
    height: 140px;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 38px;
}

.main--exchange--container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('../assets/images/Bitcoin.svg');
    /* Buena práctica para imágenes*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main--exchange--container h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main--exchange--container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

/**************** Inicio tablas ******************/

.main--tables--container {
    position: relative;
    display: flex;
    width: 90%;
    max-width: 320px;
    height: 350px;
    margin: auto;
}

.slider_tables {
    display: flex;
    justify-content: flex-end;
    width: 205%;
}

.currency-table {
    position: relative;
    margin: 0 11vw;
}

.slider_btn {
    position: absolute;
    top: 38%;
    width: 24px;
    height: 24px;
}

.arrowLeftCurrency {
    left: 0;
    background-image: url("../assets/icons/blackarrowleft.svg");
    /* Buena práctica para imágenes*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrowRightCurrency {
    right: 0;
    background-image: url("../assets/icons/blackarrowright.svg");
    /* Buena práctica para imágenes*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/**************** Inicio Monedas ****************/

.main--currency--table {
    width: 50%;
    height: auto;
    *margin: 0 25px;
    margin-bottom: 36px;
    padding-bottom: 10px;
    font-family: "Inter", "sans-serif";
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
}

.main--currency--table .currency--table--title {
    margin: 0 30px;
    padding: 12px 0;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    font-family: "DM Sans";
    text-align: left;
    color: var(--bitcoin-orange);
}

.currency--table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 200px;
    margin: 0 auto 16px;
    padding: 0 12px;
    text-align: left;
}

.currency--table--container table {
    width: 100%;
    height: 100%;
}

.currency--table--container td {
    width: 50%;
    padding-left: 12px;
    font-size: 1.6rem;
    font-weight: 500px;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.currency--table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency--table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency--table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency--table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency--table--container .table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency--table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency--table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main--currency--table .currency--table--date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    border-radius: 8px;
    font-family: "Inter", "sans-serif";;
    background-color: var(--soft-orange);
}

/**************** Fin Monedas *****************/

/**************** Inicio Comisiones ****************/

.main--commissions--table {
    width: 50%;
    height: auto;
    *margin: 0 25px;
    margin-bottom: 36px;
    padding-bottom: 10px;
    font-family: "Inter", "sans-serif";
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
}

.main--commissions--table .commissions--table--title {
    margin: 0 30px;
    padding: 12px 0;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    font-family: "DM Sans";
    text-align: left;
    color: var(--secondary-blue);
}

.commissions--table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 200px;
    margin: 0 auto 16px;
    padding: 0 12px;
    text-align: left;
}

.commissions--table--container table {
    width: 100%;
    height: 100%;
}

.commissions--table--container td {
    width: 50%;
    padding-left: 12px;
    font-size: 1.6rem;
    font-weight: 500px;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}

.commissions--table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.commissions--table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.commissions--table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.commissions--table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.commissions--table--container .table__right {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-align: center;
    color: #757575;
}

.main--commissions--table .commissions--table--date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    border-radius: 8px;
    font-family: "Inter", "sans-serif";;
    background-color: var(--soft-blue);
}

/**************** Fin Comisiones *****************/

/**************** Fin tablas *****************/

.main--batata {
    position: absolute;
    margin-top: -890px;
    margin-left: 43vw;
}

/************ Inicio detalles Prod ***********/ 

.main-product-detail {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 880px;
    padding: 20px 0 30px;
    background-color: var(--warm-black);
}

.product-detail--title {
    position: absolute;
    width: 288px;
    min-height: 120px;
    height: auto;
    margin-top: 30px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--card-text);
}

.product-cards--container {
    position: absolute;
    top: 180px;
    width: 95vw;
    height: auto;
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-balck-1);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/eye.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .dollar {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/dollar-sign.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/check-circle.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;;
    color: var(--card-text);
}

/************** Fin detalle prod ***************/

.bitcoin-img-container {
    position: relative;
    width: 100%;
    max-width: 516px;
    height: 387px;
    margin-bottom: 64px;
    background-image: url('../assets/images/bitcoinbaby1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
    position: absolute;
    top: 64px;
    left: calc(50% - 80px);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

/************* Inicio planes  ******************/

.main--plans-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 24px 40px 30px 260px 64px;
    width: auto;
    height: 490px;
    padding: 0 5vw;
    text-align: center;
}

.main--plans-container h2 {
    grid-row: 1;
    font-size: 2.4rem;
    color: var(--warm-black);
}

.main--plans-container > p { 
    grid-row: 3;
    font-size: 1.4rem;
    padding: 0 11px;
    color: #757575;
}

.container_slider {
    position: relative;
    grid-row: 5;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.main--plans--container-cards {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 280px;
}

.container-card {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 28%;
}

.slider_button {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 24px;
}

.arrowLeftPlans {
    left: 0;
    background-image: url("../assets/icons/grayarrowleft.svg");
    /* Buena práctica para imágenes*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrowRightPlans {
    right: 0;
    background-image: url("../assets/icons/grayarrowright.svg");
    /* Buena práctica para imágenes*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-card .plans--container-card {
    scroll-snap-align: center;
    width: 190px;
    height: 240px;
    *margin: 0 50px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans--container-card {
    display: grid;
    grid-template-columns: 190px;
    grid-template-rows: repeat(2, 1fr);;
}

.plans--container-group1 {
    display: grid;
    grid-auto-rows: min-content;
}

.plans--container-card h3 {
    grid-column: 2/3;
    grid-row: 1;
    width: 80px;
    height: 18px;
    margin-top: 31px;
    margin-bottom: 3px;
    font-size: 1.4rem;
    color: #000000;
}

.plans--container-card .dollar-symbol {
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
    width: 10px;
    height: 10px;
    margin-top: 17px;
    font-family: "Inter", "sans-serif";
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.plans--container-card .cost-plan {
    grid-column: 2;
    grid-row: 2;
    width: 65px;
    height: 55px;
    margin: 8px 7px 16px;
    font-family: "Inter", "sans-serif";
    font-style: normal;
    font-size: 5.2rem;
    font-weight: 700;
    letter-spacing: -0.08em;
}

.plans--container-group2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: min-content;
}

.plans--container-card .description-plan {
    grid-row: 1;
    width: 158px;
    height: 30px;
    margin-bottom: 16px;
    justify-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #757575;
}

.plans--container-group2 .choose {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 48px;
    justify-self: center;
    font-family: 'DM Sans';
    font-size: 1.4rem;
    font-weight: 700;
    background: var(--off-white);
    border: 2px solid #F7931A;
    border-radius: 4px;
    color: var(--warm-black);
}

.choose span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url('../assets/icons/yellowarrowright.svg');
}

/************** Fin planes *********************/

.recomend {
    position: absolute;
    top: 4px;
    margin-left: 45px;
    width: 101px;
    height: 31px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: 'Inter';
    font-weight: 700;
    padding: 8px;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}

/****************** Fin main *******************/


footer {
    width: 100vw;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer a {
    margin-left: 65px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--off-white);
}

footer .footer--table-links {
    padding-top: 40px;
}

footer ul {
    padding-bottom: 8px;
}

footer .linkedin {
    width: 56px;
    height: 18px;
    top: 40px;
}

footer .crunchbase {
    width: 81px;
    height: 18px;
    top: 26px;
}

footer .hackernews {
    width: 81px;
    height: 18px;
    top: 8px;
}

footer .footer--table-icon {
    display: inline-block;
    width: 64px;
    height: 50px;
    margin-left: 52px;
    margin-top: 51px;
    background-image: url('../assets/icons/footer-icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.appNoExist {
    display: none;
}
